<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleven.rick.mapper.UserMapper">
  <select id="queryByUsername" resultType="com.eleven.rick.security.user.entity.User">
    SELECT
      *
    FROM
      r_user
    WHERE
      deleted = FALSE
      AND username = #{username}
  </select>
</mapper>
